.main-page__text-intro {
  max-width: 300px;
}

.main-page__text-intro h1 {
  font-size: 20px;
  font-weight: 600;
}

.main-page__about-me {
  font-size: 14px;
}


/* Flaoting girl */

.floating-girl {
  position: absolute;
  top: 20px;
  right: 0;
  width: 200px;
}

.floating-girl__line {
  width: 30px;
  margin: auto;
  position: relative;
  right: 20px;
  height: 240px;
}

.floating-girl__img {
  width: 200px;
  position: relative;
  left: -80px;
  top: 10px;
  animation: float 3s alternate infinite ease-in-out;
}

@keyframes float {
  from {
    transform: translateY(0);
  }
  from {
    transform: translateY(15px);
  }
}

/* Personal button */
.personal-button {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.personal-button > a{
  display: block;
  margin-bottom: 5px;
}

.personal-button textarea {
  background-color: rgb(37, 37, 37);
  color: white;
  display: block;
  max-width: 150px;
  border: 1px solid white;
  resize: none;
  padding: 5px;
}

.personal-button textarea:focus {
  outline: none;
}

@media (max-width: 540px) {
  .floating-girl {
    position: static;
    margin: 40px auto;
  }
  
}