/* Main page */
body {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.page-container {
  background-color: var(--bg-color);
  max-width: 100vw;
  overflow: hidden;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}

.side-page-container {
  background-color: black;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  padding: 30px;
}

.ascii-art {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-70%);
  filter: brightness(70%);
}

.floating-girl {
  position: absolute;;
  top: 100px;
  left: 50%;
  z-index: 5;
  transform: translateX(-100%);
  width: 500px;
  filter: brightness(0.95);
  animation-name: float;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes float {
  from {transform: translate(-100%, 0);}
  to {transform: translate(-100%, 40px);}
}

.king {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-90%);
  z-index: 8;
  width: 500px;
  height: 600px;
}

.king__img {
  position: absolute;
  top: 0;
  left: 0;
}

.king__img_punch {
  height: 620px;
  top: -50px;
  left: -70px;
}

.king__img_kick {
  height: 580px;
  top: -50px;
  left: -150px;
}

.king-controls {
  position: absolute;
  z-index: 9;
  right: 250px;
  top: 280px;
  display: flex;
  flex-direction: column;
  gap: 0.4px;
}

.king-controls__button {
  cursor: pointer;
  color: rgb(223, 223, 223); 
  background-color: rgba(0,0,0,0);
  font-size: 12px;
  border: none;
  width: 260px;
  height: 200px;
}

.main-page__text-intro {
  /* text-align: center; */
  border-left: 1px dashed white;
  padding: 10px;
  width: 510px;
  margin: auto;
  transform: translateX(150px);
  margin-top: 220px;
  font-size: 2rem;
  position: relative;
  z-index: 10;
}

.main-page__text-intro h1 {
  font-size: 40px;
  font-weight: 600;
}

.ascii-stars {
  font-size: 1.2rem;
  position: relative;
  bottom: 5px;
  left: 10px;
}

.main-page__about-me {
  margin-top: 120px;
  padding-left: 100px;
  font-size: 16px;
  line-height: 150%;
}

.tree-generator {
  margin-top: -200px;
  pointer-events: none;
}

.tree-generator canvas {
  pointer-events: none;
}

.tree-generator__button {
  background-color: var(--button-color); 
  font-family: var(--terminal-font);
  font-size: 12px;
  /* position: relative;
  z-index: 20; */
}

.tree-generator__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 9;
  pointer-events: none;
}

.tree-link {
  position: absolute;
  transform: translateX(200px);
  top: 1000px;
  width: 400px;
  line-height: 50%;
}

.tree-link a {
  font-size: 4px;
  font-weight: 300;
  color: var(--text-color);
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.tree-link a:hover {
  text-decoration: underline;
  color: var(--highlight-color);
}

/* Tooltip text */
.tree-link a .tooltip__tree-link {
  visibility: hidden;
  width: 120px;
  background-color: var(--bg2-color);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tree-link a:hover .tooltip__tree-link {
  visibility: visible;
}

.tree-generator__hint {
  text-align: center;
}

.tooltip__tree-link img {
  width: 20px;
}

/* UPDATE LOG */

.updates-container {
  border: 1px dashed white;
  padding: 10px;
  position: relative;
  z-index: 10;
}

.updates-container p, .updates-container h3 {
  font-size: 14px;
  font-family: var(--terminal-font);
  font-weight: 400;
  line-height: 130%;
}

.updates-container h3 {
  border-bottom: 1px dashed white;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.update-item {
  display: flex;
  gap: 10px;
}

.update-item > p:first-child {
  text-wrap: nowrap;
}

/* Moon phases */

.moon-phases-container {
  font-family: var(--terminal-font);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phase-name {
  font-family: var(--terminal-font);
  font-size: 14px;
  position: relative;
  z-index: 10;
  margin-bottom: 6px;
}

.phase-illumination, .phase-date {
  /* font-family: var(--arsenal-font); */
  font-size: 10px;
  position: relative;
  z-index: 10;
}

.moon-phase-img-container {
  position: relative;
  height: 200px;
}

.moon-phase-img, .moon-static-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.moon-static-img {
  height: 365px;
  top: -55px;
}

/* RABBIT HOLE */

.rabbit-hole-btn {
  display: block;
  width: min-content;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
}

/* PICTURE SHOWCASE */

.picture-showcase-container {
  width: 200px;
  position: relative;
  z-index: 10;
  padding: 5px;
  border: 1px dashed white;
  height: min-content;
}

.picture-showcase-container img{
  width: 100%;
}

/* SIDE PANEL 2 column CONTAINER */
.side-page-2column-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  margin-bottom: 60px;
  justify-items: center;
}

.side-panel-right-column-container {
  position: relative;
  z-index: 10;
  width: min-content;
}

/* Currently reading */

.currently-reading {
  color: white;
  font-family: var(--terminal-font);
  margin-top: 10px;
  font-size: 14px;
}

/* Japanese proverb */
.japanese-proverb {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  font-family: initial;
}

/* Sidebar ascii art */

.sidebar-ascii-art {
  line-height: 130%;
  letter-spacing: -2px;
}

/* Console output img */
.console-output-img {
  width: 300px;
  position: relative;
  right: 6px;
}

/* About me */

.about-me-container {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
}

.about-me-header {
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-me {
  font-family: var(--terminal-font);
  font-size: 14px;
  line-height: 130%;
}

/* Guestbook */
.guestbook-button {
  display: block;
  margin: 20px auto;
  width: 200px;
  text-align: center;
  background-color: var(--highlight-color);
  color: black;
  font-size: 16px;
}

.guestbook-button:hover {
  background-color: white;
}


/* Candle img */

.candle-img {
  display: block;
  margin-left: auto;
}

/* View counter */
.view-counter-container {
  margin-top: 50px;
}

.view-counter-text {
  font-size: 12px;
  /* display: flex; */
}

/* BOTTOM OF PAGE */

.launched-in-text {
  font-size: 12px;
  text-align: center;
  margin-top: auto;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 2px;
  text-wrap: nowrap;
}




