@font-face {
    font-family: 'Iosevka';
    src: url('./fonts/PkgTTC-Iosevka-30.3.3/Iosevka-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Iosevka';
    src: url('./fonts/PkgTTC-Iosevka-30.3.3/Iosevka-Bold.ttf') format('truetype'); 
    font-weight: 600;
}

@font-face {
    font-family: 'Iosevka';
    src: url('./fonts/PkgTTC-Iosevka-30.3.3/Iosevka-Bold.ttf') format('truetype'); 
    font-weight: 700;
}

:root {
  --bg-color: rgb(0, 0, 0);
  --button-color: black;;
  --font-color: rgb(233, 233, 233);
  --highlight-color: #d53f3f;
  --link-color: #9bbbff;
  /* --link-color: #f6ff00; */
  --link-hover-color: rgb(233, 233, 233);
  --terminal-font: "Iosevka";
}

::-moz-selection { /* Code for Firefox */
  color: rgb(0, 0, 0);
  background: yellow;
}

::selection {
  color: yellow;
  background: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--font-color);
  background-color: var(--bg-color);
  font-family: 'Iosevka';
}

.page-container {
  background-color: var(--bg-color);
  max-width: 600px;
  padding: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
  position: relative;
}

.hidden {
  display: none;
}

p {
  font-size: 14px;
  line-height: 130%;
}

ul {
  list-style-type: none;
}

a {
  cursor: pointer;
  color: var(--link-color);
}

a:hover {
  cursor: pointer;
  color: var(--link-hover-color);
}

.highlight {
  color: var(--highlight-color);
}

.dark-highlight {
  color:rgb(103, 103, 103);
}

.dark-highlight:hover {
  color: var(--highlight-color);
}

.glowing-text {
  text-shadow: 1px 1px 10px white;
}

.strike-through {
  text-decoration: line-through;
}

h1, h2, h3, h4, h5 {
  font-family: var(--terminal-font);
  font-weight: 400;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tiny-text {
  font-size: 10px;
}

.button {
  width: 100%;
  border-radius: 0;
  color:rgb(246, 246, 246);
  letter-spacing: 3px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--highlight-color);
}

/* 2 column CONTAINER */
.two-column-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  margin-bottom: 60px;
  max-width: 100%;
  justify-items: center;
  align-items: start;
}

@media (max-width: 470px) {
  .two-column-container {
    grid-template-columns: 1fr;
  }
}

/* Atlas */
.atlas__heading {
  margin-bottom: 20px;
}

.atlas__list-container {
  list-style-type: none;
}

.atlas__list-item {
  position: relative;
  left: 16px;
  margin-bottom: 5px;
}

.atlas__list-item::marker {
  content: '> ';
}

.atlas__link {
  color: var(--link-color);
  font-size: 16px;
}

.divider {
  border-top: 1px dashed var(--font-color);
  width: 100%;
  margin: 20px 0;
}

.rss {
  position: absolute;
  top: 120px;
  right: 20px;
}

.rss img {
  width: 20px;
}