.blog-post img {
  display: block;
  width: 60%;
  margin: 40px auto;
}

.blog-post h1 {
  color: var(--highlight-color);
}

p, h1, h2, h3 {
  margin-top: 20px;
}

.blog-post li {
  font-size: 14px;
}

ul {
  list-style-type: circle;
}
