
/* Blog posts*/

.blog-posts__list {
  list-style-type: none;
}

.blog-posts__link {
  color: var(--link-color);
  display: block;
  font-size: 14px;
}

.post-date {
  font-size: 10px;
}

.blog-posts img {
  display: block;
  width: 50%;
  margin: auto;
  /* width: 100%; */
  padding-top: 20px;
}