.page-container {
  overflow: visible;
}

.header-symbols {
  text-align: center;
  margin-top: 20px;
}

h1 {
  text-align: center;
  font-weight: 100;
}

.image-showcase {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  margin-bottom: 200px;
}

.image-showcase__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s;
}

.image-showcase__img:hover {
  filter: invert();
}

.image-showcase__img-container {
  height: 400px;
}

.image-showcase__name {
  text-align: center;
  letter-spacing: 6px;
}

.image-showcase__img_opened {
  object-fit:fill;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  width: auto;
}

.image-showcase__img_opened:hover {
  filter: none;
}

.portraits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.portraits__img-container {
  display: flex;
  align-items: end;
}

.portraits__img {
  width: 100%;
  transition: filter 0.3s;
  object-fit: contain;
}

.portraits__img-container:nth-child(2) .portraits__img{
  /* width: 90%; */
}

.portraits__img-container:nth-child(3) .portraits__img{
  width: 98%;
}

.portraits__img:hover {
  filter: invert();
}

.portraits__img.image-showcase__img_opened:hover {
  filter: none;
}

.about {
  margin-bottom: 300px;
  text-align: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 2px;
}