

.content-container {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.page-container {
  background-color: black;
}

.links-container .button {
  width: 80px;
  text-align: center;
}

.links-container {
  display: flex;
  justify-content: center;
}

.worthy-mentions {
  margin-top: 400px;
}

.worthy-mentions p {
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 20px; 
  font-size: 14px;
}
/* 
.fauux {
  background-image: url(../assets/SunD.gif);
  background-size: 50% 100%;
} */
